@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  z-index: 3;
}

body, #root {
  padding: 0px;
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 16px;
}